@using CrashServer.ServiceModel.Data
@{
    ViewData["Title"] = "Sign In";
    ViewData["LoginPath"] = "/Account/Login";
    ViewData["ReturnUrl"] = "/Account/Login";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="mt-8">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="max-w-xl mx-auto">
            <h1 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100">
                Sign In
            </h1>
            <div class="sm:shadow overflow-hidden sm:rounded-md">
                <form method="post">
                    <div class="px-4 bg-white dark:bg-black sm:p-6">
                        <div asp-validation-summary="All" class="text-danger font-semibold text-center"></div>
                        <div class="flex flex-col gap-y-4">
                            <div>
                                <input type="hidden" name="redirect" value="@(Html.GetQueryString("ReturnUrl") ?? ViewData["ReturnUrl"])"/>
                            </div>
                            <div>
                                <div>
                                    <label for="Email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email</label>
                                    <div class="mt-1 relative rounded-md shadow-sm">
                                        <input type="text" class="@Css.InputText" id="Email" name="Email" placeholder="Email" spellcheck="false" value="@Html.GetFormData("Email")">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="Password" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
                                    <div class="mt-1 relative rounded-md shadow-sm">
                                        <input class="@Css.InputText" id="Password" name="Password" type="Password" placeholder="Password" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input type="checkbox" id="chkRememberMe" name="rememberMe" value="true" checked="checked"
                                           class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <label for="chkRememberMe" class="ml-2 block text-sm text-gray-900">Remember Me</label>
                                </div>
                                <div class="text-sm">
                                
                                 
                                    </div>
                            </div>
                            <button type="submit" class="@Css.PrimaryButton w-1/2 ml-2">Sign In</button>
                        </div>
                    </div>

                    <div class="px-4 py-3 text-right sm:px-6">
                        <div class="flex justify-end">

                      
                        </div>
                    </div>
                </form>

            

            </div>

            <div class="mt-8">

            </div>
        </div>
    }
    else
    {
        <div class="mx-auto prose prose-xl">
            <table id="session-info">
                <caption class="@Css.H1 mb-4">Authenticated User Session</caption>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>@User.GetUserId()</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@User.GetEmail()</td>
                </tr>
                <tr>
                    <th>DisplayName</th>
                    <td>@User.GetDisplayName()</td>
                </tr>
                @if (User.GetRoles().Length > 0)
                {
                    <tr>
                        <th>Roles</th>
                        <td>@User.GetRoles().Join(", ")</td>
                    </tr>
                }
                <tr>
                    <th>ProfileUrl</th>
                    <td>
                        <img class="w-20 h-20" src="@User.GetPicture()"/>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="@Css.SecondaryButton">Sign Out</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="my-2">View Public and Secure Pages and APIs on <a class="@Css.Link" href="/">Home page</a>.</p>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    }
</div>